{% extends "base.html" %}

{% block title %}Car Detail{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <div class="container">
      <h2>Car Detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Vehicle Name:</th>
            <td>{{ car.car_name }}</td>
          </tr>
          <tr>
            <th scope="row">Vehicle Maker</th>
            <td>{{ car.car_maker }}</td>
          </tr>
          <tr>
            <th scope="row">Year:</th>
            <td>{{ car.year }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-8 visible-lg">
  </div>
</div>
{% endblock %}
