{% extends "base.html" %}

{% block title %}Car Maker Detail{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
  <span class="pull-right"><h1>Car:</h1></span>
  </div>
  <div class="col-sm-8">
  <h1>{{ maker }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="container">
      <h2>Car Maker Detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Car Maker:</th>
            <td>{{ maker.car_maker }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-8 visible-lg">
  </div>
</div>
{% endblock %}
